body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: #f4f7fc;
    color: #333;
}

.container {
    max-width: 85%;
    margin: auto;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #222;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 200px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}


th {
    background-color: #0056b3;
    color: white;
    text-transform: uppercase;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
}


th, td {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: left;
    font-size: 16px;
}



tr:hover {
    background-color: #dce4f5;
    transition: background 0.3s ease, transform 0.2s ease;
    transform: scale(1.02); 
    cursor: pointer;
}





.certified-yes {
    color: #2d9c5b;
    font-weight: bold;
}

.certified-no {
    color: #d9534f;
    font-weight: bold;
}
